h1{	color: navy; 
font-size: 40px;
}
.body_backgorund {	background-image: url("bg1.jpg");
background-position: center;
background-size: cover;
}
#myCanvas{	border-width: 10px;
background-color: rgb(150, 73, 132);
border-style: ridge;
}
span {	font-size: 20px;
}